{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CRUD APP - Dev-MdIrfan</title>
    <!-- css files -->
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.css' %}">
</head>

<body>
    <!-- start navbar -->
    {% include 'partials/navbar.html' %}
    <!-- end navbar -->

    <!-- start main content -->
    <div class="container mt-5">
        <h2 class="text-center alert alert-danger">Function Based view ModelForm CRUD Project</h2>
        {% block content %}
        <!-- body content -->
        {% endblock %}
    </div>
    <!-- end main content -->

    <!-- footer -->

    <!-- script files -->
    <script src="{% static 'home/js/jquery.js' %}"></script>
    <script src="{% static 'home/js/proper.js' %}"></script>
    <script src="{% static 'home/js/bootstrap.js' %}"></script>
</body>

</html>