{% extends 'base.html' %}

{% block content %}
<div class="row">
    <!-- Input Fields -->
    <div class="col-sm-4">
        <h4 class="text-center alert alert-info">Add New Student</h4>
        <form action="/" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-success" value="Add New Student">
        </form>
    </div>

    <!-- Display Data -->
    <div class="col-sm-8">
        <h4 class="text-center alert alert-info">Student Information</h4>
        {% if users %}
        <h1></h1>
        <table class="table table-hover">
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>City</th>
                <th>State</th>
                <th>Gender</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for user in users %}
                <tr style="border: 2px solid black;">
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.password }}</td>
                    <td>{{ user.city }}</td>
                    <td>
                        <!-- getting state name from list of tuple -->
                        {% for state in STATE_CHOICES %}
                        {% if user.state == state.0 %}
                        {{ state.1 }}
                        {% endif %}
                        {% endfor %}
                        <!-- or -->
                        <!-- {{ user.get_state_display }} -->
                    </td>
                    <td>{{ user.gender }}</td>
                    <td>
                        <a href="{% url 'update' user.id %}" class="btn btn-warning btn-sm">Edit</a>
                        <form action="{% url 'delete' user.id %}" class="d-inline" method="POST">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h4 class="text-center alert alert-warning">Welcome Guest</h4>
        <p>Information is not available.</p>
        {% endif %}
    </div>
</div>


<!-- 
<div class="container mt-5">
    <form>
        <div class="row g-3">
            <div class="col">
                <label for="#first_name" class="form-label">First Name:</label>
                <input type="text" id="first_name" class="form-control" placeholder="First name"
                    aria-label="First name">
            </div>
            <div class="col">
                <label for="#last_name" class="form-label">Last Name:</label>
                <input type="text" id="last_name" class="form-control" placeholder="Last name"
                    aria-label="Last name">
            </div>
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email: </label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Password:</label>
            <input type="password" class="form-control" id="inputPassword4">
        </div>
        <div class="col-md-6">
            <label for="inputCity" class="form-label">City:</label>
            <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="">
            <div class="col-md-4">
                <label for="inputState" class="form-label">State:</label>
                <select id="inputState" class="form-select">
                    <option selected>Choose Your State ...</option>
                    <option>Uttar Pradesh</option>
                    <option>Bihar</option>
                    <option>Mumbai</option>
                    <option>Delhi</option>
                </select>
            </div>
            <fieldset class="row mb-3 mt-3">
                <legend class="col-form-label col-sm-2 pt-0">Gender:</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                            checked>
                        <label class="form-check-label" for="gridRadios1">
                            Male
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                        <label class="form-check-label" for="gridRadios2">
                            Female  
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</div> -->
{% endblock content %}